<div class="mtu-page">
  <h1 class="mtu-title">{{name}}</h1>
  <p class="mtu-subtitle">{{type}}</p>
  <p class="mtu-uwp"><strong>UWP:</strong> <code>{{profile.[0].value}}</code></p>

  <h2>Planetary Profile</h2>
  <table class="mtu-table">
    <tbody>
      {{#each profile}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if jumpShadow}}
  <h2>Jump Shadow Times</h2>
  <table class="mtu-table mtu-table--horizontal">
    <thead>
      <tr>
        {{#each jumpShadow}}
        <th>{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each jumpShadow}}
        <td>{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}

  <h2>Location</h2>
  <table class="mtu-table">
    <tbody>
      <tr><th>Orbiting</th>     <td>{{location.orbiting}}</td></tr>
      <tr><th>Star System</th>  <td>{{location.starSystem}}</td></tr>
      <tr><th>Subsector</th>    <td>{{location.subsector}}</td></tr>
      <tr><th>Sector</th>       <td>{{location.sector}}</td></tr>
    </tbody>
  </table>

  <h2>Orbital Data</h2>
  <table class="mtu-table">
    <tbody>
      {{#each orbital}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if jumpShadowDetail}}
  <h2>Jump Shadow</h2>
  <p><strong>Distance to Clear:</strong> {{jumpShadowDetail.distanceKm}} km</p>
  <p><strong>Shadow Source:</strong> {{jumpShadowDetail.sourceName}}</p>
  {{#if jumpShadowDetail.times}}
  <table class="mtu-table mtu-table--horizontal">
    <thead>
      <tr>
        {{#each jumpShadowDetail.times}}
        <th>{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each jumpShadowDetail.times}}
        <td>{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}
  {{/if}}

  <h2>Starport</h2>
  <table class="mtu-table">
    <tbody>
      {{#each starport}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Physical Data</h2>
  <table class="mtu-table">
    <tbody>
      {{#each physical}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Environmental Data</h2>
  <table class="mtu-table">
    <tbody>
      {{#each environmental}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Atmosphere</h2>
  <table class="mtu-table">
    <tbody>
      {{#each atmosphere}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Hydrographics</h2>
  <table class="mtu-table">
    <tbody>
      {{#each hydrographics}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Population</h2>
  <table class="mtu-table">
    <tbody>
      {{#each population}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Government</h2>
  <table class="mtu-table">
    <tbody>
      {{#each government}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Law Level</h2>
  <table class="mtu-table">
    <tbody>
      {{#each lawLevel}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>Tech Level</h2>
  <table class="mtu-table">
    <tbody>
      {{#each techLevel}}
      <tr>
        <th>{{this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>