<div>
  <h2>{{localize "MTU.section.systemSummary"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      <tr><th class="mtu-left">{{localize "MTU.label.sector"}}</th>        <td>{{sector}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.label.subsector"}}</th>     <td>{{subsector}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.label.primaryStar"}}</th>   <td>{{primaryStar}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.label.mainWorld"}}</th>     <td>{{mainWorldName}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.label.mainWorldUwp"}}</th>  <td>{{mainWorldUwp}}</td></tr>
      {{#if remarks}}
      <tr><th class="mtu-left">{{localize "MTU.label.remarks"}}</th>       <td>{{remarks}}</td></tr>
      {{/if}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.systemContents"}}</h2>
  <table class="mtu-no-borders">
    <thead>
      <tr>
        <th class="mtu-center">{{localize "MTU.label.stars"}}</th>
        <th class="mtu-center">{{localize "MTU.label.gasGiants"}}</th>
        <th class="mtu-center">{{localize "MTU.label.terrestrial"}}</th>
        <th class="mtu-center">{{localize "MTU.label.belts"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mtu-center">{{counts.stars}}</td>
        <td class="mtu-center">{{counts.gasGiants}}</td>
        <td class="mtu-center">{{counts.terrestrial}}</td>
        <td class="mtu-center">{{counts.belts}}</td>
      </tr>
    </tbody>
  </table>

  <h2>{{localize "MTU.section.systemBodies"}}</h2>
  <table class="mtu-no-borders">
    <thead>
      <tr>
        <th class="mtu-center">{{localize "MTU.label.orbit"}}</th>
        <th class="mtu-left">{{localize "MTU.label.uwpSam"}}</th>
        <th class="mtu-right">{{localize "MTU.label.au"}}</th>
        <th class="mtu-right">{{localize "MTU.label.safeJump"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each bodies}}
      <tr>
        <td class="mtu-center">{{label}}</td>
        <td>{{uwpSam}}</td>
        <td class="mtu-right">{{orbit}}</td>
        <td class="mtu-right">{{safeJump}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if gasGiantJumpShadow}}
  <h2>{{localize "MTU.section.gasGiantRefuel"}}</h2>
  <p><em>{{gasGiantJumpShadow.label}} · {{gasGiantJumpShadow.safeJumpKm}} km to safe jump</em></p>
  <table class="mtu-no-borders">
    <thead>
      <tr>
        {{#each gasGiantJumpShadow.times}}
        <th class="mtu-center">{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each gasGiantJumpShadow.times}}
        <td class="mtu-center">{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}
</div>
