<div>
  <h2>{{localize "MTU.section.planetaryProfile"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each profile}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if jumpShadow}}
  <h2>{{localize "MTU.section.jumpShadowTimes"}}</h2>
  <table class="mtu-no-borders">
    <thead>
      <tr>
        {{#each jumpShadow}}
        <th>{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each jumpShadow}}
        <td class="mtu-center">{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}

  <h2>{{localize "MTU.section.location"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      <tr><th class="mtu-left">{{localize "MTU.location.orbiting"}}</th>   <td>{{location.orbiting}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.location.starSystem"}}</th>  <td>{{#if location.starSystemUrl}}<a href="{{location.starSystemUrl}}" target="_blank">{{location.starSystem}}</a>{{else}}{{location.starSystem}}{{/if}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.location.subsector"}}</th>   <td>{{#if location.subsectorUrl}}<a href="{{location.subsectorUrl}}" target="_blank">{{location.subsector}}</a>{{else}}{{location.subsector}}{{/if}}</td></tr>
      <tr><th class="mtu-left">{{localize "MTU.location.sector"}}</th>      <td>{{#if location.sectorUrl}}<a href="{{location.sectorUrl}}" target="_blank">{{location.sector}}</a>{{else}}{{location.sector}}{{/if}}</td></tr>
    </tbody>
  </table>

  <h2>{{localize "MTU.section.orbitalData"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each orbital}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if jumpShadowDetail}}
  <h2>{{localize "MTU.section.jumpShadow"}}</h2>
  <p><strong>{{localize "MTU.jumpShadow.distanceToClear"}}</strong> {{jumpShadowDetail.distanceKm}} km</p>
  <p><strong>{{localize "MTU.jumpShadow.shadowSource"}}</strong> {{jumpShadowDetail.sourceName}}</p>
  {{#if jumpShadowDetail.times}}
  <table class="mtu-no-borders">
    <thead>
      <tr>
        {{#each jumpShadowDetail.times}}
        <th>{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each jumpShadowDetail.times}}
        <td class="mtu-center">{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}
  {{/if}}

  <h2>{{localize "MTU.section.starport"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each starport}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.economics"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each economics}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.physicalData"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each physical}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.environmentalData"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each environmental}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.atmosphere"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each atmosphere}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.hydrographics"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each hydrographics}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.population"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each population}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.government"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each government}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.lawLevel"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each lawLevel}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2>{{localize "MTU.section.techLevel"}}</h2>
  <table class="mtu-no-borders">
    <tbody>
      {{#each techLevel}}
      <tr>
        <th class="mtu-left">{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
