<h2>{{localize "MTU.section.planetaryProfile"}}</h2>
  <table>
    <tbody>
      {{#each profile}}
      <tr>
        <th>{{localize this.label}}</th>
        <td>{{this.value}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if jumpShadow}}
  <h2>{{localize "MTU.section.jumpShadowTimes"}}</h2>
  <table>
    <thead>
      <tr>
        {{#each jumpShadow}}
        <th>{{this.g}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each jumpShadow}}
        <td>{{this.value}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  {{/if}}

  <h2>{{localize "MTU.section.location"}}</h2>
  <table>
    <tbody>
      <tr><th>{{localize "MTU.location.orbiting"}}</th>   <td>{{location.orbiting}}</td></tr>
      <tr><th>{{localize "MTU.location.starSystem"}}</th>  <td>{{location.starSystem}}</td></tr>
      <tr><th>{{localize "MTU.location.subsector"}}</th>   <td>{{location.subsector}}</td></tr>
      <tr><th>{{localize "MTU.location.sector"}}</th>      <td>{{location.sector}}</td></tr>
    </tbody>
  </table>
</div>
